body {
  color: green;
  font-family: "Courier New", Courier, monospace;
}

h1,
#designed-by {
  text-align: center;
}

.style1 {
  background-color: #02230d;
  font-size: 12px;
}

.style2 {
  background-color: yellowgreen;
  font-size: 12px;
}

.style3 {
  background-color: gold;
  font-size: 12px;
}

.style4 {
  background-color: black;
  font-size: 12px;
}

.style5 {
  background-color: chocolate;
  font-size: 12px;
}

.style6 {
  background-color: skyblue;
  font-size: 12px;
}

/* SETTING THE COLOR OF THE BOX TEXT */
.tiles .box-wrapper > a {
  color: white;
}
